<app-header></app-header>
<!-- <div style="display: flex; justify-content: center;">
<h1 class="display-1" style="color: white; margin: 100px">Checkout en mantenimiento</h1>
</div> -->

<div class="list-group container">
    <div *ngFor="let item of lista">
        <div class="list-group-item">Cantidad: {{ item.cantidad }} - Nombre: {{ item.nombre }} - Precio: ${{ item.precio }}</div>
    </div>
</div>

<div class="container">
    <h1>Total: ${{ total }}</h1>
</div>

<div class="container">
    <button [ngClass]="btn" (click)="confirmar()">Confirmar compra</button>
</div>
<div class="container">
    <button class="btn btn-dark" routerLink="/carrito">Volver al carrito</button>
</div>

<!-- <div class="container"> -->
    <div class="alert alert-danger" role="alert">
        ¡Atención! Solo disponible para retiro en Córdoba Capital, Córdoba
    </div>
<!-- </div> -->
<!-- <div class="container"> -->
    <div class="alert alert-danger" role="alert">
        ¡Atención! Solo disponible para pago con transferencia
    </div>
<!-- </div> -->

<app-footer></app-footer>