<div class="titulo">
    <h1 class="display-2">Productos destacados</h1>
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/tienda">
        <img src="../../../../../../assets/img/capa-akatsuki.png" class="d-block w-100" alt="...">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h1>Capa de Akatsuki</h1>
          <h4>Atuendo característico de la organización criminal mas famosa del mundo.</h4>
        </div>
      </div>
      <div class="carousel-item">
        <a routerLink="/tienda">
        <img src="../../../../../../assets/img/capamikasa.png" class="d-block w-100" alt="...">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h1>Capa del cuerpo de exploración</h1>
          <h4>Uniforme del cuerpo encargado de explorar fuera de las murallas y matar titanes.</h4>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
