  <div *ngIf="params=='ropa'">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xl-5 g-5" id="lista">
      <div *ngFor="let producto of listaProductos">
        <div *ngIf="producto.categoria=='ropa'">
          <app-producto [producto]="producto"></app-producto>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="params==undefined">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xl-5 g-5" id="lista">
        <div *ngFor="let producto of listaProductos">
          <app-producto [producto]="producto"></app-producto>
        </div>
      </div>
  </div>