<div class="list-group">
    <div *ngFor="let producto of listaProductos">
        <div class="list-group-item">Id: {{ producto.id_producto }}, nombre: {{ producto.nombre }}</div>
    </div>
</div>
<div class="form">
    <label class="form-label" id="id">ID:</label>
    <input type="number" class="form-control" id="id" [(ngModel)]="id">
    <input class="btn btn-secondary" type="submit" value="Eliminar" (click)="onSubmit()">
    <!-- <button class="btn btn-secondary" (click)="onSubmit()"></button> -->
</div>