.card-body {
    color: white;
}
.card {
    margin: 20px;
}
.btn-close {
    margin-top: 20px;
    margin-left: -40px;
    border: 2px solid white;
    box-shadow: 4 4 4 white;
}
input {
    width: 25%;
    margin-left: 15px;
}
label {
    color: white;
}