<div class="dropdown" id="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    Filtros
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" ngClass="filtros">
    <li>
        <div class="dropdown-item">
        <!-- <form class="dropdown-item"> -->

            <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Precio
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" id="dropdown-menu">
                <li>
                    <label for="customRange3" class="form-label">Mínimo</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                </li>
                <li>
                    <label for="customRange3" class="form-label">Máximo</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                </li>
                </ul>
            </div> -->

            <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Mostrar solo productos en stock
                </label>
            </div>

            <p>Serie:</p>

            <select class="form-select" aria-label="Default select example">
                <option selected>Todas</option>
                <option value="1">Naruto</option>
                <option value="2">Attack on titan</option>
            </select>

            <button type="submit" class="btn btn-primary mb-3">Filtrar</button> -->

            <div class="dropdown" id="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                Serie
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" ngClass="filtros">
                    <li>
                        <a class="dropdown-item active">Todas</a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="filtrarANaruto()">Naruto</a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="filtrarAShingeki()">Attack on titan</a>
                    </li>
                </ul>
            </div>

            </div>
        <!-- </form> -->
    </li>
    </ul>
</div>
