<nav class="navbar sticky-top navbar-dark navbar-expand-sm bg-dark">
    <div class="container-fluid">
      <app-iso></app-iso>
      <app-logo></app-logo>
      <app-colapsador></app-colapsador>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <app-a-inicio></app-a-inicio>
          <app-a-tienda></app-a-tienda>
          <app-a-contacto></app-a-contacto>
          <app-a-perfil *ngIf="logueado"></app-a-perfil>
        </ul>
        <app-a-login></app-a-login>
        <app-carrito-btn></app-carrito-btn>
        <app-logout></app-logout>

        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Buscar</button>
        </form> -->
      </div>
    </div>
</nav>