.col, .contenedor {
    display: flex;
    justify-content: center;
}
.form-floating {
    margin: 50px
}
button, input {
    box-shadow: 4px 4px 4px white;
}
.alert {
    margin-top: 50px;
}
.spinner-border {
    margin-top: 15px;
}